name: Validate

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - name: Setup Python
        uses: "actions/setup-python@v4"
        with:
          python-version: "3.11"
      - name: Setup Home Assistant
        uses: "home-assistant/actions-hassfest@master"
      - name: Run hassfest
        uses: "home-assistant/actions-hassfest@master"
        with:
          action: validate


